 <div class="container">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://img.freepik.com/premium-vector/cinema-poster-night-film-movies-popcorn-retro-movie-posters-template-illustration-set_102902-1871.jpg?w=2000');"></div>
    <% if(@lists.empty?) %>
        <h1> No lists yet </h1>
    <% end %>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @lists.each do |item| %>
          <div class="col">
              <div class="card h-100">
                <div class="card-category" style=" background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwk7akcL_v5mu0s_gtfIrB-oUFHiKqYi1iXHOb6Dod-c3b0mh7btrdv_IkhFCPuVEpXCY&usqp=CAU)">
                  <%= link_to item.name, list_path(item) %>
                </div>
              </div>
          </div>
      <% end %>
    </div>
    <%= link_to "+Add new list",  new_list_path %>
</div>
